*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color: #061516;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.left_div{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_div{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs_div{
  width: 60%;
  height: 50vh;
  background-color: #DFE6EA;
  border-radius: 10px;
}

.input_logo{
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_input{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_pass{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"]{
  width: 80%;
  padding: 2%;
  outline: none;
  border: none;
  border-bottom:  solid 1px #061516;
  background-color: transparent;
}

input[type="password"]{
  width: 80%;
  padding: 2%;
  outline: none;
  border: none;
  border-bottom:  solid 1px #061516;
  background-color: transparent;
}

.login_button_div{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_button_div button{
  padding: 2% 10%;
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: #06734A;
  cursor: pointer;
  color: #fff;
}